@model List<Producer>

   @{
    ViewData["Title"] = "List of Producers";
   } 

<div class="row">
    <div class="col-md-8 offset-md-2">
        <table class="table">
            <tr>
                <th>ProfilePicturURL</th>
                <th>FullName</th>
                <th>Bio</th>
                <th>Actions</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="align-middle">
                        <image class="rounded-circle " src="@item.ProfilePicturURL" style="max-width: 150px"></image>
                    </td>
                    <td>@item.FullName</td>
                    <td>@item.Bio</td>
                    <td>
                        <a class=" btn btn-outline-primary">Edit</a>
                        <a class=" btn btn-outline-info">Details</a>
                        <a class=" btn btn-danger">Delete</a>
                    </td>

                </tr>

            }


        </table>
    </div>
</div>
